<h1 class="text-3xl">Precios del servicio</h1>
<hr class="my-2" />

<section>
  <p class="mb-4">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio odit
    veritatis atque voluptate, ut minus ullam, culpa modi ea aliquam harum
    reiciendis ipsum dignissimos corrupti sit, rem similique. Dicta, neque!
    Dolore, ipsa molestiae? Eaque doloremque neque quo corporis mollitia fugiat
    dolor quos dolore. Ipsum quaerat amet at incidunt quae explicabo vitae
    perferendis deleniti numquam rerum. Perferendis quos assumenda sed eius!
  </p>
</section>
