<h1 class="text-3xl">Contacto</h1>
<hr class="my-2" />

<section>
  <p class="mb-4">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint saepe esse
    nemo recusandae corporis facilis possimus ducimus deserunt ab amet similique
    omnis debitis magnam libero optio, doloremque alias tenetur corrupti.
    Pariatur, impedit quo, voluptatem enim consequuntur dolore odio eveniet,
    voluptate quaerat accusamus ullam? Similique beatae maxime repudiandae
    totam, at possimus excepturi exercitationem ullam cumque in? Voluptates
    alias earum quidem nesciunt.
  </p>
</section>
