<h1 class="text-3xl">Sobre la aplicación</h1>
<hr class="my-2" />

<section>
  <p class="mb-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam natus saepe,
    corporis doloribus ullam nihil velit fugiat non tenetur reprehenderit ipsum
    voluptate earum culpa facilis, unde, esse eius similique adipisci.
    Aspernatur repellendus pariatur error sunt, aliquam velit cum ipsa in sint
    harum praesentium rem magnam id debitis similique ipsam. Assumenda autem
    eaque inventore modi, cumque praesentium asperiores consequatur corporis
    repellendus!
  </p>
</section>
